{%extends 'base.html'%}

{%block content%}
{%load static%}



{#  Single Card Template:#}
<div class="container-fluid">
    <div class="container-container">
        <section class="landing">
            <div id="overlay">
                <div class="d-flex align-items-center justify-content-center" style="height: 500px;">
                    <div></body>
                        </html>
                        <h1>KiNeTiK </h1>
                        <h2> Welcome To Our Company Where we offer best internet Solutions at Low cost ,maximum bandwith</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br><br>
    <h1>SERVICES WE OFFER</h1>
     
    


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Configuration </h3>
                <button class="btn1"><img src="{%static 'photos/conf.jpeg'%}" alt="" srcset="" id="p1" height=50%></button>
                <p class="pp1">The basic function of configuration management is managing the equipment in the network. This includes tracking and managing the equipment in the network including the management of software versions of the equipment.</p>
            </div>
            <div class="col-md-3">
                <h3> Monitoring</h3>
                <button class="btn2"><img src="{%static 'photos/perfomance.jpeg'%}" alt="" srcset=""id="p2"></button>
                <p class="pp2">Performance monitoring is user response times if user asks any document or files the response time of the server would be noted and network throughput is determined how fast data is transferred through a network.</p>
            </div>
            <div class="col-md-3">
                <h3>Security management</h3>
                <button class="btn3"><img src="{%static 'photos/security.jpeg'%}" alt="" srcset=""id="p3"></button>
                <p class="pp3">Security management is essential to network in order to ensure safety, prevent viruses and other threats by implementing antivirus software to prevent viruses entering in a network.</p>
            </div>
            <div class="col-md-3">
                <h3>Network management</h3>
                <button class="btn4"><img src="{%static 'photos/net.jpeg'%}" alt="" srcset=""id="p4"></button>
                <p class="pp4">Network management is the process of maintaining and organizing the active and passive network components. It will provide the services to maintain network components</p>
            </div>

        </div>
    </div>
    <br><br>
    <h1>Our Packages</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="main">
                <p>Ksh</p>
                <h1>5000</h1>
                <br>
                <p><em>no hiden fee</em></p>
                <br>
                <h4>24/7 support</h4>
                <br>
                <h4>30mbps</h4>
                <br>
                <a href="{% url 'newsubscription'%}"> <button type="button" class="btn btn-success">Subscribe</button></a>
            </div>
            <div class="col-md-3" id="main">
                <p>Ksh</p>
                <h1>10000</h1>
                <br>
                <p><em>no hiden fee</em></p>
                <br>
                <h4>24/7 support</h4>
                <br>
                <h4>55mbps</h4>
                <br>
                <a href="{% url 'newsubscription'%}"> <button type="button" class="btn btn-success">Subscribe</button></a>
            </div>
            <div class="col-md-3" id="main">
                <p>Ksh</p>
                <h1>15000</h1>
                <br>
                <p><em>no hiden fee</em></p>
                <br>
                <h4>24/7 support</h4>
                <br>
                <h4>80mbps</h4>
                <br>
                <a href="{% url 'newsubscription'%}"> <button type="button" class="btn btn-success">Subscribe</button></a>
            </div>
            <div class="col-md-3" id="main">
                <p>Ksh</p>
                <h1>20000</h1>
                <br>
                <p><em>no hiden fee</em></p>
                <br>
                <h4>24/7 support</h4>
                <br>
                <h4>125mbps</h4>
                <br>
                <a href="{% url 'newsubscription'%}"> <button type="button" class="btn btn-success">Subscribe</button></a>
            </div>
        </div>

    </div>
 

<br><br><br>
<h1>Contact Us</h1>
<div class="container">
    <div class="footer">
        <h2>Our Customer Care Team is available for Help 24/7</h2>
        <br>
        <h3>Phone : 0706985617</h3>
        <br>
        <h3>Email : customercare@kinetik.com</h3>
        <br><br>

        <h2>Social Media Handles</h2>

        <div class="social">
            <img src="{% static 'images/twitter.png'%} ">
            <img src="{% static 'images/dribble.png'%}">
            <img src="{% static 'images/facebook.png'%}">
            <img src="{% static 'images/g_plus.png'%}">
            <img src="{% static 'images/skype.png'%}">
            <img src="{% static 'images/stumble_upon.png'%}">
            <img src="{% static 'images/you_tube.png'%}">
            <img src="{% static 'images/pinterest.png'%}">
            <img src="{% static 'images/flickr.png'%}">
        </div>
<style>
    #main{
        border: 1px solid green;
    }
    .landing {
    background-image: url("{%static 'photos/wifi2.jpg'%}");
    background-size: 100%;
  
  background-position: center center;
  background-color:  #ebebeb;
  background-repeat: no-repeat; 
    background-size: cover;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    background-position: center center;
}

#overlay {
    top: 0;
    bottom: 0;
    padding: 8%;
    font-size: 15px;
    background-color: rgba(0, 0, 1, 0.5);
    color: white;
}

#p1,#p2,#p3,#p4{
    width: 100%;
  height: auto;
  border-radius: 60%;
}
.pp1,.pp2,.pp3,.pp4{
    display: none;
}
.card-body{
    color: black;
}
.logo{
    border-radius: 70%;
}
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
*{
    font-family: 'Gloria Hallelujah', cursive;
}
#package {
    background-color: antiquewhite;
}
    
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
    $(".btn1").click(function(){
        $(".pp1").toggle(1000);
        $(".btn1").hide(1000);
       
    });
    $(".pp1").click(function(){
        $(".btn1").toggle(1000);
        $(".pp1").hide(1000);

    });

    $(".btn2").click(function(){
        $(".pp2").toggle(1000);
        $(".btn2").hide(1000);
       
    });
    $(".pp2").click(function(){
        $(".btn2").toggle(1000);
        $(".pp2").hide(1000);

    });

    $(".btn3").click(function(){
        $(".pp3").toggle(1000);
        $(".btn3").hide(1000);
       
    });
    $(".pp3").click(function(){
        $(".btn3").toggle(1000);
        $(".pp3").hide(1000);

    });

    $(".btn4").click(function(){
        $(".pp4").toggle(1000);
        $(".btn4").hide(1000);
       
    });
    $(".pp4").click(function(){
        $(".btn4").toggle(1000);
        $(".pp4").hide(1000);

    });

})
</script>

{%endblock%}

