{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form  action="{%url 'newsubscription'%}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-success btn-lg" value="Subscribe">
                  </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{{subscriber.location}}

{%endblock%}